In [1]:
import pandas as pd
import numpy as np
import os

# Load the dataset
df_players = pd.read_csv("raw_data/players.csv")

# Show first rows
df_players.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0

In [3]:
# shape of the DataFrame
df_players.shape

# data types and missing values
df_players.info()

# counting missing values
df_players.isna().sum()

# basic statistics
df_players.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32601 entries, 0 to 32600
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             32601 non-null  int64
 1   first_name                            30539 non-null  object
 2   last_name                             32601 non-null  object
 3   name                                  32601 non-null  object
 4   last_season                           32601 non-null  int64
 5   current_club_id                       32601 non-null  int64
 6   player_code                           32601 non-null  object
 7   country_of_birth                      29802 non-null  object
 8   city_of_birth                         30146 non-null  object
 9   country_of_citizenship                32218 non-null  object
 10  date_of_birth                         32554 non-null  object
 11  sub_position                          32421 non-null  object
 12  position                              32601 non-null  object
 13  foot                                  30065 non-null  object
 14  height_in_cm                          30345 non-null  float64
 15  contract_expiration_date              20510 non-null  object
 16  agent_name                            16582 non-null  object
 17  image_url                             32601 non-null  object
 18  url                                   32601 non-null  object
 19  current_club_domestic_competition_id  32601 non-null  object
 20  current_club_name                     32601 non-null  object
 21  market_value_in_eur                   31078 non-null  float64
 22  highest_market_value_in_eur           31078 non-null  float64
dtypes: float64(3), int64(3), object(17)
memory usage: 5.7+ MB

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
count,3.260100e+04,30539,32601,32601,32601.000000,32601.000000,32601,29802,30146,32218,...,30065,30345.000000,20510,16582,32601,32601,32601,32601,3.107800e+04,3.107800e+04
unique,NaN,7030,23795,31892,NaN,NaN,31852,185,8578,183,...,3,NaN,119,2897,26854,32601,14,437,NaN,NaN
top,NaN,David,García,Paulinho,NaN,NaN,paulinho,France,London,Spain,...,right,NaN,2023-06-30 00:00:00,Wasserman,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,TR1,Kilmarnock Football Club,NaN,NaN
freq,NaN,215,68,13,NaN,NaN,13,2337,479,1965,...,21149,NaN,4502,504,5748,1,3220,185,NaN,NaN
mean,3.483126e+05,NaN,NaN,NaN,2019.357259,4815.495813,NaN,NaN,NaN,NaN,...,NaN,182.291943,NaN,NaN,NaN,NaN,NaN,NaN,1.639685e+06,3.789347e+06
std,2.845089e+05,NaN,NaN,NaN,3.961564,11583.707786,NaN,NaN,NaN,NaN,...,NaN,7.037030,NaN,NaN,NaN,NaN,NaN,NaN,6.407293e+06,9.887241e+06
min,1.000000e+01,NaN,NaN,NaN,2012.000000,3.000000,NaN,NaN,NaN,NaN,...,NaN,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+04,1.000000e+04
25%,1.079730e+05,NaN,NaN,NaN,2016.000000,403.000000,NaN,NaN,NaN,NaN,...,NaN,178.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+05,2.750000e+05
50%,2.839170e+05,NaN,NaN,NaN,2020.000000,1063.000000,NaN,NaN,NaN,NaN,...,NaN,183.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.500000e+05,8.000000e+05
75%,5.302230e+05,NaN,NaN,NaN,2023.000000,3060.000000,NaN,NaN,NaN,NaN,...,NaN,187.000000,NaN,NaN,NaN,NaN,NaN,NaN,7.000000e+05,3.000000e+06
max,1.391239e+06,NaN,NaN,NaN,2024.000000,110302.000000,NaN,NaN,NaN,NaN,...,NaN,210.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000e+08,2.000000e+08

In [4]:
# checking for duplicates
print("Duplicates:", df_players.duplicated().sum())

# dropping duplicate rows
df_players.drop_duplicates(inplace=True)

Duplicates: 0

In [5]:
# checking missing values
missing = df_players.isna().sum().sort_values(ascending=False)
print("Missing values:\n", missing[missing > 0])

Missing values:
 agent_name                     16019
contract_expiration_date       12091
country_of_birth                2799
foot                            2536
city_of_birth                   2455
height_in_cm                    2256
first_name                      2062
highest_market_value_in_eur     1523
market_value_in_eur             1523
country_of_citizenship           383
sub_position                     180
date_of_birth                     47
dtype: int64

In [6]:
# dropping rows missing essential player identity information
df_players = df_players.dropna(subset=["first_name", "date_of_birth"])

# filling missing height with median
df_players["height_in_cm"] = df_players["height_in_cm"].fillna(df_players["height_in_cm"].median())

# filling missing 'foot' (e.g., right/left) with mode
df_players["foot"] = df_players["foot"].fillna(df_players["foot"].mode()[0])

# filling missing country info with "Unknown"
df_players["country_of_birth"] = df_players["country_of_birth"].fillna("Unknown")
df_players["city_of_birth"] = df_players["city_of_birth"].fillna("Unknown")
df_players["country_of_citizenship"] = df_players["country_of_citizenship"].fillna("Unknown")

# filling market values with 0 if missing
df_players["market_value_in_eur"] = df_players["market_value_in_eur"].fillna(0)
df_players["highest_market_value_in_eur"] = df_players["highest_market_value_in_eur"].fillna(0)

# filling contract expiration with a placeholder date
df_players["contract_expiration_date"] = pd.to_datetime(
    df_players["contract_expiration_date"],
    errors="coerce"
).fillna(pd.Timestamp("2099-12-31"))

# filling agent_name and sub_position with "Unknown"
df_players["agent_name"] = df_players["agent_name"].fillna("Unknown")
df_players["sub_position"] = df_players["sub_position"].fillna("Unknown")

# and then verifying after cleaning
df_players.isna().sum().sort_values(ascending=False)

player_id                               0
position                                0
market_value_in_eur                     0
current_club_name                       0
current_club_domestic_competition_id    0
url                                     0
image_url                               0
agent_name                              0
contract_expiration_date                0
height_in_cm                            0
foot                                    0
sub_position                            0
first_name                              0
date_of_birth                           0
country_of_citizenship                  0
city_of_birth                           0
country_of_birth                        0
player_code                             0
current_club_id                         0
last_season                             0
name                                    0
last_name                               0
highest_market_value_in_eur             0
dtype: int64

In [7]:
# cleaning column names: lowercase, replace spaces with underscores
df_players.columns = (
    df_players.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
    .str.replace(r'[^\w_]', '', regex=True)
)

df_players.columns  # Check new column names

Index(['player_id', 'first_name', 'last_name', 'name', 'last_season',
       'current_club_id', 'player_code', 'country_of_birth', 'city_of_birth',
       'country_of_citizenship', 'date_of_birth', 'sub_position', 'position',
       'foot', 'height_in_cm', 'contract_expiration_date', 'agent_name',
       'image_url', 'url', 'current_club_domestic_competition_id',
       'current_club_name', 'market_value_in_eur',
       'highest_market_value_in_eur'],
      dtype='object')

In [8]:
# defining which text columns to clean
text_columns = [
    'first_name', 'last_name', 'name', 'player_code',
    'country_of_birth', 'city_of_birth', 'country_of_citizenship',
    'position', 'sub_position', 'foot', 'current_club_name',
    'agent_name'
]

# and cleaning them
for col in text_columns:
    df_players[col] = df_players[col].astype(str).str.strip().str.title()

In [9]:
# converting dates to datetime
df_players['date_of_birth'] = pd.to_datetime(df_players['date_of_birth'], errors='coerce')
df_players['contract_expiration_date'] = pd.to_datetime(df_players['contract_expiration_date'], errors='coerce')

# and just to confirm changes
df_players.dtypes

player_id                                        int64
first_name                                      object
last_name                                       object
name                                            object
last_season                                      int64
current_club_id                                  int64
player_code                                     object
country_of_birth                                object
city_of_birth                                   object
country_of_citizenship                          object
date_of_birth                           datetime64[ns]
sub_position                                    object
position                                        object
foot                                            object
height_in_cm                                   float64
contract_expiration_date                datetime64[ns]
agent_name                                      object
image_url                                       object
url                                             object
current_club_domestic_competition_id            object
current_club_name                               object
market_value_in_eur                            float64
highest_market_value_in_eur                    float64
dtype: object

In [10]:
# filtering out height values
df_players = df_players[(df_players['height_in_cm'] > 130) & (df_players['height_in_cm'] < 220)]

In [12]:
import os

# create the directory
os.makedirs("clean_data", exist_ok=True)

In [13]:
df_players.to_csv("clean_data/clean_players.csv", index=False)