In [16]:
import pandas as pd
import numpy as np
import os

# Load the datasets
df_players = pd.read_csv("to_merge_data/filtered_players.csv")
df_appearances = pd.read_csv("to_merge_data/filtered_appearances.csv")
df_clubs = pd.read_csv("to_merge_data/filtered_clubs.csv")

In [17]:
#merge appearances with players and clubs
merge_df = pd.merge(df_appearances, df_players, on='player_id', how='left')
final_merge_df = pd.merge(merge_df, df_clubs, on='club_id', how='left')
final_merge_df.head()

,player_id,player_name,club_id,minutes_played,name_x,age,position,market_value_in_eur,name_y
0,3333,James Milner,1237,172,James Milner,39.0,Midfield,1000000.0,Brighton And Hove Albion Football Club
1,5336,Anastasios Tsokanis,60949,923,Anastasios Tsokanis,34.0,Midfield,300000.0,Volou Neos Podosferikos Syllogos
2,7161,Jonas Hofmann,15,545,Jonas Hofmann,33.0,Midfield,3000000.0,Bayer 04 Leverkusen Fußball
3,7825,Pepe Reina,1047,990,Pepe Reina,43.0,Goalkeeper,600000.0,Calcio Como
4,11530,Lionel Carole,3205,1798,Lionel Carole,34.0,Defender,400000.0,Kayserispor Kulübü

In [18]:
# drop unnecessary columns
final_merge_df = final_merge_df.drop(['name_x'], axis=1)
#rename columns for clarity
final_merge_df =final_merge_df.rename(columns={'name_y': 'club_name'})
#reorder columns for better readability
final_merge_df = final_merge_df[['player_id', 'player_name', 'club_id', 'club_name', 'age', 'position', 'market_value_in_eur', 'minutes_played']]

final_merge_df.head()

,player_id,player_name,club_id,club_name,age,position,market_value_in_eur,minutes_played
0,3333,James Milner,1237,Brighton And Hove Albion Football Club,39.0,Midfield,1000000.0,172
1,5336,Anastasios Tsokanis,60949,Volou Neos Podosferikos Syllogos,34.0,Midfield,300000.0,923
2,7161,Jonas Hofmann,15,Bayer 04 Leverkusen Fußball,33.0,Midfield,3000000.0,545
3,7825,Pepe Reina,1047,Calcio Como,43.0,Goalkeeper,600000.0,990
4,11530,Lionel Carole,3205,Kayserispor Kulübü,34.0,Defender,400000.0,1798

In [19]:
import os

# create the directory
os.makedirs("first_dataset", exist_ok=True)

In [20]:
final_merge_df.to_csv("first_dataset/j_first_attempt.csv", index=False)